<!DOCTYPE html>
<html class="h-full">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Le Cavalier Rouge
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Lien vers le fichier CSS généré par Webpack Encore -->
			<link rel="stylesheet" href="{{ asset('build/assets_styles_app_css.css') }}">
		{% endblock %}
		{% block javascripts %}
			<!-- Suppression du bloc importmap si Stimulus n'est pas utilisé -->
			<script src="{{ asset('build/runtime.js') }}" defer></script>
			<script src="{{ asset('build/app.js') }}" defer></script>
		{% endblock %}
	</head>
	<body class="flex flex-col min-h-screen bg-gray-100" data-turbo="false">
		<!-- Navbar -->
		{% include "components/navbar.html.twig" %}

		<!-- Contenu principal -->
		<main class="flex-grow container mx-auto p-6">
			{% block body %}{% endblock %}
		</main>

		<!-- Footer -->
		{% include "components/footer.html.twig" %}
	</body>
</html>
