{% extends 'pages/layout.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block meta_description %}
Consultez les mentions légales du site du Club d'Échecs Le Cavalier Rouge pour plus d'informations sur l'éditeur, l'hébergement et le contact.
{% endblock %}

{% block og_title %}
Mentions Légales - Club d'Échecs Le Cavalier Rouge
{% endblock %}

{% block og_description %}
Découvrez les mentions légales du site du Club d'Échecs Le Cavalier Rouge, incluant les informations sur l'éditeur, l'hébergement et le contact.
{% endblock %}

{% block og_image %}
{{ asset('img/echiquier-strategie-jeu-echecs.webp') }}
{% endblock %}

{% block body %}
<div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
    <p class="text-sm text-gray-500 mb-2">Dernière mise à jour : {{ "now"|date("d/m/Y") }}</p>

    <h1 class="text-xl font-bold text-gray-800 mb-4">Mentions Légales</h1>

    <div class="space-y-4">
        <div>
            <h2 class="text-lg font-semibold text-gray-700">Éditeur du site</h2>
            <p class="text-gray-600">Le site est édité par Les Cavaliers Rouges.</p>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-gray-700">Hébergement</h2>
            <p class="text-gray-600">Le site est hébergé par IONOS.</p>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-gray-700">Contact</h2>
            <p class="text-gray-600"><strong>Email :</strong> <a href="mailto:riou.luc@cavalier-rouge.fr" class="text-blue-500 hover:underline">riou.luc@cavalier-rouge.fr</a></p>
            <p class="text-gray-600"><strong>Téléphone :</strong> 06 10 78 55 12</p>
        </div>
    </div>
</div>
{% endblock %}
