{% extends 'pages/layout.html.twig' %}
{% block title %}
	Accueil
{% endblock %}
{% block body %}
	<div class="flex flex-col items-center justify-center h-screen px-4 ">


		<h1 class="text-4xl font-bold text-gray-800 mt-60 p-15 ">Bienvenue</h1>
		<p class="text-lg text-gray-800 p-4">Au Tournois de l'association Le Cavalier Rouge</p>
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<!-- Image 1 -->
			<div class="flex flex-col items-center  pt-32 md:pt-0">
				<img src="/img/a.JPEG" alt="Échiquier" class="rounded-lg shadow-md w-64 h-48 object-cover">
				<p class="text-gray-700 mt-4 text-center">Notre passion pour les échecs.</p>
			</div>
			<!-- Image 2 -->
			<div class="flex flex-col items-center">
				<img src="/img/b.JPEG" alt="Tournoi d'échecs" class="rounded-lg shadow-md w-64 h-48 object-cover">
				<p class="text-gray-700 mt-4 text-center">Tournois organisés avec la Fédération Française des Échecs.</p>
			</div>
		</div>
		<!-- Vidéo de présentation d'un echiquier -->
		<div class="mt-8 p-10">
			<h2 class="text-2xl font-bold mx-auto w-max  text-gray-800">Échéquier en Rouge et Blanc
			</h2>
			<video class="rounded-lg shadow-md m-auto w-1/2 " controls>
				<source src="/img/v.MP4" type="video/mp4">
			</video>
		</div>

	</div>
{% endblock %}
