
{% extends 'pages/layout.html.twig' %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold text-gray-800">Acceuil</h1>
        <p class="text-lg text-gray-800">Bienvenue au tournois de l'Association Le Cavalier Rouge</p>
    </div>
{% endblock %}