

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page prend toute la hauteur de l'écran */
    margin: 0; /* Supprime les marges par défaut */
}

/* Ajustement de la hauteur du contenu principal */
main {
    flex-grow: 1; /* Prend tout l'espace disponible restant */
}

/* Classe commune pour navbar et footer */
.shared-navbar-footer {
    background-color: rgb(2, 36, 90); /* Couleur commune */
    color: white; /* Texte blanc */
    /* height: 100px;  */
}

/* Style spécifique pour la navbar */
.navbar {
    @apply shared-navbar-footer; /* Applique la classe commune */
    display: flex;
    align-items: center; /* Aligne verticalement */
    justify-content: space-between; /* Espace entre logo et menu */
    padding: 0 20px; /* Ajoute de l'espace horizontal */
    
}

/* Menu dans la navbar */
#navbar-menu {
    display: flex;
    align-items: center; /* Aligne verticalement */
    gap: 20px; /* Espacement entre les éléments */
    padding-right: 20px; /* Espace à droite */
    transition: all 0.2s ease-in-out; /* Animation fluide */
    color: white; /* Texte blanc */
}

/* Bouton menu burger pour mobiles */
#navbar-menu-button {
    display: none; /* Caché par défaut */
    cursor: pointer;
}

/* Footer */
.footer {
    @apply shared-navbar-footer;
    text-align: center; /* Centre le texte */
    font-size: 1rem; /* Taille de texte de base */
    width: 100%;
    margin-top: auto; /* Pousse le footer vers le bas de l'écran */
}

/* Assure que le footer reste en bas même si le contenu est court */
footer {
    margin-top: auto; /* Ceci permet de pousser le footer en bas de l'écran */
}

/* Responsive pour petits écrans */
@media (max-width: 750px) {
    #navbar-menu-button {
        display: flex; /* Affiche le menu burger */
    }

    #navbar-menu {
        display: none; /* Masque le menu par défaut */
        flex-direction: column; /* Vertical */
        position: absolute;
        top: 50px; /* En dessous de la navbar */
        right: 0; /* Aligné à droite */
        background-color: rgb(2, 36, 90);
        min-width: 50vw; /* Largeur minimale */
        min-height: 50vh; /* Hauteur minimale */
        padding: 20px;
        z-index: 10; /* Toujours visible */
    }

    #navbar-menu.open {
        display: flex; /* Affiche le menu lorsqu'il est ouvert */
    }
}
