<nav class="navbar bg-gray-800 text-white p-4 flex items-center justify-between">
	<!-- Logo -->
	<div class="flex items-center space-x-4">
		<img src="/img/logo.png" alt="Logo" class="h-8 w-auto">
		<a href="/" class="text-white text-xl font-bold hidden sm:block">Le Cavalier Rouge</a>
	</div>

	<!-- Menu Burger -->
	<div id="navbar-menu-button" class="md:hidden">
		<svg width="24" height="24" viewBox="0 0 24 24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<line x1="4" x2="20" y1="12" y2="12"/>
			<line x1="4" x2="20" y1="6" y2="6"/>
			<line x1="4" x2="20" y1="18" y2="18"/>
		</svg>
	</div>

	<!-- Menu -->
	<ul id="navbar-menu" class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 transition-all duration-300 ease-in-out absolute md:relative top-full md:top-auto bg-gray-800 md:bg-transparent w-full md:w-auto">
		<li>
			<a href="/" class="text-lg hover:text-indigo-500 transition-colors duration-200">Accueil</a>
		</li>
		{% if app.user %}
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_admin') }}" class="text-lg hover:text-indigo-500 transition-colors duration-200">Tableau de bord</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_profile') }}" class="text-lg hover:text-indigo-500 transition-colors duration-200">Profil</a>
				</li>
			{% endif %}
			<li>
				<a href="{{ path('app_logout') }}" class="text-lg hover:text-indigo-500 transition-colors duration-200">Se déconnecter</a>
			</li>
		{% else %}
			<li>
				<a href="{{ path('app_login') }}" class="text-lg hover:text-indigo-500 transition-colors duration-200">Connexion</a>
			</li>
			<li>
				<a href="/inscription" class="text-lg hover:text-indigo-500 transition-colors duration-200">Inscription</a>
			</li>
		{% endif %}
	</ul>
</nav>

<script>
	const menuButton = document.querySelector('#navbar-menu-button');
	const menu = document.querySelector('#navbar-menu');

	menuButton.addEventListener('click', () => {
		menu.classList.toggle('hidden');
	});
</script>
