{# J’indique que ce template hérite du layout global (pages/layout.html.twig) #}
{% extends 'pages/layout.html.twig' %}

{# SEO - Open Graph Meta Tags (Facebook, LinkedIn) #}
{% block og_title %}Modifier le Club - Club d'Échecs Le Cavalier Rouge{% endblock %}
{% block og_description %}
Modifiez les informations relatives au Club d'Échecs Le Cavalier Rouge.
{% endblock %}
{% block og_image %}{{ asset('img/echiquier-strategie-jeu-echecs.webp') }}{% endblock %}
{% block og_type %}website{% endblock %}

{# SEO - Twitter Meta Tags (Twitter Cards) #}
{% block twitter_title %}Modifier le Club - Club d'Échecs Le Cavalier Rouge{% endblock %}
{% block twitter_description %}
Modifiez les informations du Club d'Échecs Le Cavalier Rouge.
{% endblock %}
{% block twitter_image %}{{ asset('img/echiquier-strategie-jeu-echecs.webp') }}{% endblock %}
{% block twitter_card %}summary_large_image{% endblock %}

{# Je débute le bloc "body", où je place le contenu principal de la page #}
{% block body %}
    {# Titre principal h2, taille 3xl, police semi-gras (font-semibold),
       marge-basse (mb-6), et couleur de texte gris foncé (text-gray-800). #}
    <h1 class="text-3xl font-semibold mb-6 text-gray-800">Modifier le Club</h1>

    {# Formulaire POST (méthode="POST"), sans action spécifiée (donc la même URL). #}
    <form method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('modify_club') }}">

        {# Champ pour le nom du club #}
        <div class="mb-6">
            <label for="name" class="block text-lg font-medium text-gray-700">Nom du club</label>
            <div class="mt-1">
                {# Input texte, prérempli avec club.name, obligatoire (required). #}
                <input type="text" id="name" name="name" value="{{ club.nam|e }}" required
                    class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>
        </div>

        {# Bouton "Enregistrer", occupant toute la largeur (w-full),
           un padding horizontal (px-4) et vertical (py-2),
           un fond bleu (bg-blue-500), texte blanc, coins arrondis (rounded-lg),
           avec transition (hover, focus) #}
        <div class="mt-6">
            <button type="submit"
                    class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                Enregistrer
            </button>
        </div>
    </form>
{% endblock %}
